.circle {
  position: relative;
  display: flex;
  background-color: $calypso;
  border-radius: 64px;
  width: 160px;
  height: 160px;
  align-items: center;
  justify-content: center;
  z-index: 900;

  &.placeholder {
    height: 16px;
    border-radius: 0;
  }

  & > img {
    width: 80%;
    height: 80%;
  }
}

.circle::before {
  position: absolute;
  content: "";
  display: block;
  background-color: $calypso;
  height: 16px;
  width: 40px;
  left: -25%;
}

.promise-timeline {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 32px 0;
  align-items: center;
}

.two-columns {
  display: flex;
  font-size: .8em;
  & > .left {
    flex: 1;
  }
  & > .right {
    flex: 1;
  }
}

.reveal pre {
  box-shadow: none;
}

.line {
  width: 100%;

  &.line-selected {
    background-color: $calypso;

    & .linenumber {
      color: white !important;
    }
  }
}